*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0;
    padding: 18px 8%;
    align-items: center;
}

div{
    justify-content: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: #575757;
}

.common-btn{
    background-color: #3B82F6;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: none;
}

header{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
height: 60vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: grid;
justify-content: center;
align-items: center;
}

.header-content{
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}

.header-content button{
    width: 38%;
    margin-left: 30%;
}
.header-content p{
    color: #ffffff91;
}
.speaker-section h5{
    font-size: 20px;
    color: #0D1B3A;
    border-radius: 5px solid red;
}
.speaker-card {
    border: 1px solid #5757;
    border-radius: 10px;
}
.speaker-card img {
    border-radius: 10px 10px 0 0;   
}
.try-middle h2 {
    margin-top: 70px;
    text-align: center;
    font-size: 56px;
    margin-bottom: 40px;
}
.speaker-section h5 {
    font-size: 12px;
    color: #2563EB;
}
.speaker-section h3{
    font-size: 20px;
    color: #0D1B2A;
}
.speaker-section h4{
    color: #5757;
    font-size: 14px;
    padding-bottom: 25px;
}
